@use './variables' as *;

// Base Styles:
html {
    font-family: $headingFont, $bodyFont;
    font-size: 125%;  /* 20px default*/
    color: $textColour;
}

p,
ul,
li,
a,
h1,
h2,
h3,
button,
label,
form,
input {
    margin: 0;
    padding: 0;
}

.recipesContainer {
    list-style: none;
}

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    display: block;
    height: auto;
}

// General image styles
// img {
//     max-width: 100%;
//     height: auto;
//     display: block;
//     object-fit: cover;
// }

// .recipes img {
//     width: 100%;
// }

// Anchor Tags & Button Styles
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: 0.3s;
}

a, button { cursor: pointer; }

.noHover {
    background: lightslategrey;
    pointer-events: none;
}

// Background Colours

// Flexbox
.flexContainer { display: flex; }

// Display

// Form Styles