@use './variables' as *;

// Base Styles:
html { 
    font-size: 125%;  /* 20px default*/    
}

body {
    font-family: $bodyFont;
    color: $textColour;
}

h1, h2, h3 {
    font-family: $headingFont;
    font-weight: normal;
}

p,
ul,
li,
a,
h1,
h2,
h3,
button,
label,
form,
input {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.5rem;
    color: #005555;
    font-family: $bodyFont;
    padding-bottom: 3rem;
}

.recipesContainer {
    list-style: none;
}

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}

// .recipes img {
//     width: 100%;
// }

// Anchor Tags & Button Styles
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: 0.3s;
}

a, button { cursor: pointer; }


// Button Styles
button {
    padding: 1.2rem;
    margin: auto;

.noHover {
    background: lightslategrey;
    pointer-events: none;
}

// Background Colours

// Flexbox
.flexContainer { display: flex; }

// Display

// Form Styles