@use './variables' as *;

header,
footer {
    background-color: rgba($accent,0.2);
}

main {
    background-color: rgba($primary, 0.5);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;
    h1{
        display: flex;     
        img {
            width: 150px;
            display: inline-block;
        }
    }
}


h1 {
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
}


.startingPage {   
    padding: 3rem 0 2.5rem 0;
    min-height: calc(100vh - 200px);
    .imageContainer {
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding-bottom: 50px;
            li {
                width: calc((100% / 3) - 20px);
                img {
                    height: 280px;
                    border: 3px solid $whiteOne;
                    box-shadow: 2px 2px 3px $textColour,
                        10px 10px 0 rgba($secondary, 0.5),
                        -2px -2px 3px $textColour,
                        -10px -10px 0 rgba($secondary, 0.5);
                }
            }
        }
    }
    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2.4rem;
    }
}

.startButton {
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: 30px 0;
}

footer {
    padding: 0.75rem 0;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
}