/* site fonts */
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";

/* site colours */
$primary: #e8f7ee;
$secondary: #53917e;
$accent: #f1abb9;
$whiteOne: #f4fcff;
$whiteTwo: #f8fbf3;
$whiteThree: #fff5f5;
$black: #000;
