/* site fonts */
/* site colours */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 20px default*/
html {
  font-size: 125%;
}

body,
i {
  font-family: "Jakarta Sans";
  color: #005555;
}

h1, h2 {
  font-family: "Young Serif";
  font-weight: normal;
}

.textContainer p,
.startButton,
.submitBtn,
legend,
.ingredients {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.8rem;
}

.add,
.remove,
h3 {
  font-size: 1.2rem;
}

footer,
.recipeText p {
  font-size: 0.85rem;
}

p,
ul,
li,
a,
h1,
h2,
h3,
button,
label,
form,
input {
  margin: 0;
  padding: 0;
}

.instructions,
input[type=text],
.recipeText p {
  font-style: italic;
}

h3,
button,
i.fa-clock,
footer a:hover,
footer a:focus {
  font-weight: bold;
}

h1, .upperCase {
  text-transform: uppercase;
}

footer,
legend,
.ingredients {
  letter-spacing: 1px;
}

button,
.textContainer,
.submitBtnContainer,
.resultsSection .wrapper,
.resultsHeadingText,
.recipeText,
footer {
  text-align: center;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.resultsImgContainer img,
.recipeCard img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a, button {
  cursor: pointer;
}

button {
  padding: 15px 38px;
  background-color: transparent;
  border: 4px solid #f1abb9;
  color: #005555;
}
button:hover, button:focus {
  background-color: #e8f7ee;
  border: 4px solid #53917e;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header,
.textContainer,
.recipeText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textContainer,
.ingredients,
.inputDiv,
.resultsHeading,
.recipeCard,
.recipeText {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imageContainer ul,
.cuisineChoices,
.recipesContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imageContainer ul,
.recipesContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hide {
  display: none;
}

.noHover {
  background: lightgrey;
  pointer-events: none;
}

.resultsHeading,
.resultsHeadingText,
.recipeText {
  background-color: #e8f7ee;
}

header,
footer {
  background-color: rgba(241, 171, 185, 0.2);
}

header h1 {
  padding: 0.25rem 0;
  font-size: 3.4rem;
  letter-spacing: 0.5rem;
}
header h1 span,
header h1 img {
  width: 120px;
}
header h1 img {
  display: inline-block;
  padding-top: 5px;
}

main {
  min-height: calc(100vh - 140px);
  background-color: rgba(232, 247, 238, 0.5);
}

.startingPage {
  padding-top: 3rem;
}
.startingPage .imageContainer ul {
  padding-bottom: 40px;
}
.startingPage .imageContainer ul li {
  width: calc(33.3333333333% - 25px);
}
.startingPage .imageContainer ul li img {
  height: 240px;
  border: 3px solid #f4fcff;
  -webkit-box-shadow: 2px 2px 3px #005555, 10px 10px 0 rgba(83, 145, 126, 0.5), -2px -2px 3px #005555, -10px -10px 0 rgba(83, 145, 126, 0.5);
          box-shadow: 2px 2px 3px #005555, 10px 10px 0 rgba(83, 145, 126, 0.5), -2px -2px 3px #005555, -10px -10px 0 rgba(83, 145, 126, 0.5);
}
.startingPage .textContainer {
  line-height: 1.8rem;
}

.startButton {
  padding: 1rem 2rem;
  margin: 40px 0 30px;
}

footer {
  padding: 0.4rem 0;
}

.resultsSection {
  background-color: rgba(248, 251, 243, 0.5);
}

.resultsHeading {
  position: relative;
  margin-bottom: 50px;
}
.resultsHeading .resultsImgContainer {
  -webkit-box-shadow: 0 3px 5px #53917e, 0 -1px 3px #53917e;
          box-shadow: 0 3px 5px #53917e, 0 -1px 3px #53917e;
}
.resultsHeading .resultsImgContainer img {
  max-width: 2700px;
  max-height: 300px;
  min-height: 180px;
  -webkit-filter: hue-rotate(50deg);
          filter: hue-rotate(50deg);
  opacity: 0.3;
}
.resultsHeading .resultsHeadingText {
  padding: 2.5%;
  -ms-flex-item-align: center;
      align-self: center;
  border: 15px double #53917e;
  position: absolute;
  bottom: 50px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 0px -2px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 0px -2px 7px rgba(0, 0, 0, 0.3);
}

.recipeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(33.3333333333% - 10px);
  margin: 20px 0;
}
.recipeCard .recipeImageContainer {
  padding: 35px;
  background-color: rgba(83, 145, 126, 0.7);
}
.recipeCard img {
  height: 265px;
  border: 4px solid #f4fcff;
  -webkit-box-shadow: 2px 2px 3px #005555, 10px 10px 0 #e8f7ee, -2px -2px 3px #005555, -10px -10px 0 #e8f7ee;
          box-shadow: 2px 2px 3px #005555, 10px 10px 0 #e8f7ee, -2px -2px 3px #005555, -10px -10px 0 #e8f7ee;
}

.recipeText {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 6px double #f1abb9;
  border-bottom: 10px double #53917e;
}
.recipeText a {
  padding: 30px 15px 10px;
}
.recipeText a:hover, .recipeText a:focus {
  opacity: 0.62;
}
.recipeText h3 {
  line-height: 1.3rem;
  margin-bottom: 25px;
}
.recipeText p {
  color: #000;
}
.recipeText p:last-child {
  margin-top: 5px;
}
.recipeText i {
  padding-right: 2px;
}

.reset {
  margin: 20px 20px 35px 0;
}

form {
  padding-top: 45px;
}
form .min {
  font-size: 1.1rem;
}

fieldset {
  font-size: 1.3rem;
  line-height: 2.5rem;
  border: 1px solid #53917e;
  padding-bottom: 30px;
}

.optionButton {
  padding-left: 30px;
  width: 25%;
}

legend,
.ingredients {
  font-weight: 800;
}

.ingredients {
  padding-top: 50px;
}

.instructions {
  font-size: 0.95rem;
  margin: 7px 0 15px;
}

input[type=text] {
  font-size: 1rem;
  padding: 1rem 0.6rem;
  border: 3px solid #53917e;
}

.add,
.remove {
  padding: 10px 20px;
  height: 80px;
  width: 48%;
  margin: 1.5% 1%;
}

.ingredientsList {
  padding: 30px 0;
  margin-top: 30px;
  list-style-position: inside;
  list-style-type: number;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #f4fcff;
  border: 2px solid #53917e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.submitBtn {
  margin: 50px 0;
}

@media (max-width: 940px) {
  .optionButton {
    width: 33.3333333333%;
  }
  .ingredientsList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ingredientsList .listItem {
    width: 33.3333333333%;
    text-align: center;
  }
  .recipesContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recipesContainer .recipeCard {
    width: calc(50% - 15px);
  }
  .recipesContainer .recipeCard:nth-child(odd) {
    margin-right: 15px;
    margin-left: 0;
  }
  .recipesContainer .recipeCard:nth-child(even) {
    margin-left: 15px;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 3.1rem;
  }
  .startingPage .imageContainer ul li {
    width: calc(50% - 20px);
  }
  .startingPage li:nth-child(3) {
    display: none;
  }
  .optionButton {
    width: 50%;
  }
  .recipesContainer .recipeCard:nth-child(odd),
.recipesContainer .recipeCard:nth-child(even) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  .optionButton {
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 568px) {
  header h1 {
    font-size: 2.8rem;
  }
  header h1 span,
header h1 img {
    width: 100px;
  }
  header h1 img {
    padding-top: 0;
  }
  main {
    min-height: calc(100vh - 110px);
  }
  .startingPage {
    padding-top: 2rem;
  }
  .startingPage .imageContainer ul {
    padding-bottom: 30px;
  }
  .startingPage .imageContainer ul li {
    width: 100%;
  }
  .startingPage .imageContainer ul li img {
    width: inherit;
    height: 200px;
  }
  .startingPage .imageContainer ul li:nth-child(2) {
    display: none;
  }
  .startButton {
    font-size: 1.2rem;
    margin: 30px 0 0 0;
  }
  .ingredientsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ingredientsList .listItem {
    width: 50%;
  }
  .listButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .listButtons .add,
.listButtons .remove {
    margin: 1.5% 0;
  }
  .submitBtn,
.add,
.remove {
    width: 100%;
  }
  .resultsSection .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resultsSection .wrapper .reset {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .submitBtn,
legend,
.ingredients {
    font-size: 1.4rem;
  }
  header {
    padding: 0.35rem 0;
  }
  header h1 {
    display: none;
  }
  .logoContainer.hide {
    display: block;
  }
  .textContainer p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .startButton {
    padding: 1rem;
  }
  .cuisineChoices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  fieldset {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .ingredientsList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ingredientsList .listItem {
    width: 100%;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .startingPage .imageContainer ul li img {
    height: 180px;
  }
  .startButton {
    font-size: 1.1rem;
    padding: 0.9rem;
    margin: 25px 0;
  }
  form .min {
    font-size: 0.8rem;
  }
  form legend,
form .ingredients {
    font-size: 1rem;
  }
  form .instructions {
    font-size: 0.85rem;
  }
  .resultsHeading .resultsHeadingText {
    bottom: 30px;
  }
}
@media (max-width: 320px) {
  .listButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}